@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --header-height: 70px;
  --header-background: #2e3a46;

  --main-background: #1e2d3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

header {
  height: var(--header-height);
  background: var(--header-background);

  display: flex;
  align-items: center;

  padding: 0 20px;
}

main {
  background: var(--main-background);
  min-height: calc(100vh - var(--header-height));

  .disks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
